.nav-header {
  display: flex;
  padding: 30rpx 0;
  justify-content: space-between;
  align-items: center;

  .normal {
    font-size: 40rpx;
    font-weight: 600;
  }

  .medium {
    font-size: 36rpx;
    font-weight: 600;
  }

  .mini {
    font-size: 32rpx;
    font-weight: normal;
  }
}